@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
  --base-padding: 5px;

  --section-padding: 5px;
  --section-radius: 10px; 
  --section-background: rgb(242, 242, 242);
  --section-gap: 10px;
  --section-shadow: 0px 0px 2px grey;

  --ui-background: gainsboro;
  --ui-radius: 5px;
  --ui-shadow: 0px 0px 15px gainsboro;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#app {
  height: 100vh;
  padding: 20px;
}
